{%extends 'base.html'%}

{%block title%}
About Us
{%endblock%}


{%block body%}

<div class="container mp-5">
    <h1>Как нас найти:</h1>
    <img src="static/image/map.jpg" width="700" height="">

    <h2>Дубосековская ул., 13, Москва</h2>


    <h2>
        <img src="static/image/metroRed.jpg" width="30" height="">
        Стрешнево
        <a href="https://yandex.ru/maps/213/moscow/?ll=37.492779%2C55.812048&mode=routes&rtext=55.812676%2C37.488070~55.812465%2C37.497488&rtt=pd&ruri=~&z=13.43"
           class="nav-link px-2 text-muted">
            <img src="static/image/walking2.jpg" width="20" height="">
            880м
        </a>
    </h2>
    <h2>
        <img src="static/image/metroGreen.jpg" width="30" height="">
        Войковская
        <a href="https://yandex.ru/maps/213/moscow/?ll=37.499450%2C55.815173&mode=routes&rtext=55.817880%2C37.498197~55.812465%2C37.497488&rtt=pd&ruri=~&z=14.64"
           class="nav-link px-2 text-muted">
            <img src="static/image/walking2.jpg" width="20" height="">
            930м
        </a>
    </h2>
    <h2> <img src="static/image/metroGreen.jpg" width="30" height="">
        Сокол
        <a href="https://yandex.ru/maps/213/moscow/?ll=37.505889%2C55.808985&mode=routes&rtext=55.805535%2C37.515040~55.812465%2C37.497488&rtt=pd&ruri=~&z=12.47"
           class="nav-link px-2 text-muted">
            <img src="static/image/walking2.jpg" width="20" height="">
            1.83км
        </a>
    </h2>
    <h2>  </h2>
   <h3>С нами можно связаться через <a href="https://vk.com/mai_choco" class="nav-link px-2 text-muted">нашу группу в VK</a></h3>

</div>

{%endblock%}