{%extends 'base.html'%}

{%block title%}
Hello
{%endblock%}


{%block body%}
<center>
    <div id="home" style="display:block" class="mainBlock">
    <img src="static/image/womanWithTee.jpg">
    <p>Ikar Store - душевная атмосфера,<br> товары отличного качеста,
        вкусные цены и <br>индивидуальный подход к каждому клиенту!<br><br>
        Хочется провести вечер за любимым <br> сериалом,но чего-то не хватает?<br><br>
        Мы знаем, что тебе нужно! Заходи и выбирай!<br>
        Наши товары сделают твой вечер еще более уютным!  </p>
    </div>
</center>
{%endblock%}
