{%extends 'base.html'%}

{%block title%}
Login
{%endblock%}



{%block body%}

<div id="createOrder" style="display:block" class="mainBlock">
    <p>Регистрация</p>
   <form action="" method="post" name="test" id="form">
       <label for="login">Логин:</label><br>
       <input type="login" name="login" id="login" placeholder="Введите логин.."><br><br>
       <label for="password">Пароль:</label><br>
       <input type="password" name="password" id="password" placeholder="Введите пароль.."><br><br>
       <input type="submit" name="button" id="buttonCreateLogin" class="button"  value="Войти">
    </form>
    <a href="/registration" id="buttonReg" class="button">Регистрация</a>
</div>
{%endblock%}