{%extends 'base.html'%}

{%block title%}
Login
{%endblock%}



{%block body%}

<div id="createOrder" style="display:block" class="mainBlock">
    <p>Регистрация</p>
   <form action="" method="post" name="test" id="form">
       <label for="name">Имя:</label><br>
       <input type="name" name="name" id="name" placeholder="Введите имя.."><br><br>
       <label for="contact">Контактные данные (телефон, Email, VK,TG):</label><br>
       <input type="text" name="contact" id="contact" placeholder="Введите контакт.."><br><br>
       <label for="password">Пароль:</label><br>
       <input type="password" name="password" id="password" placeholder="Введите пароль.."><br><br>
       <label for="repassword">Пароль:</label><br>
       <input type="password" name="repassword" id="repassword" placeholder="Введите пароль повторно.."><br><br>
       <input type="submit" name="button" id="buttonCreateLogin" class="button"  value="Готово">
    </form>
</div>
{%endblock%}